Anaconda3-2022.05-Linux-x86_64.sh
awscliv2.zip
aws
data/
.ipynb_checkpoints
.bin
*.db

*.parquet
*.html
*.csv

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*


.DS_Store